# MySQL configuration
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE= databse Name  //ex-projectDB
MYSQL_USER= User Name        //ex-Om
MYSQL_PASSWORD= Password     //ex-Om@1234

# Go app configuration
DB_HOST=db               //this value should remain same. docker-compose mysql service name is db so it wil used as host
DB_PORT=Port No          //ex-3306 if it is in use.you can use another port .On this mysql servie will exposed
DB_USER=User Name        //same as MYSQL_USER  (Om)
DB_PASSWORD=Password    // same as MYSQL_PASSWORD (Om@1234)
DB_NAME=projectDB       //  same as MYSQL_DATABASE
APP_PORT=8087           // go service will exposed on this port . if in use.you can use another port
APP_PORT_INSIDE = 8080  // go service inside container port so keep as same 
